body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
  margin: 0;
}

h1 {
  color: gold;
  padding: 10px;
}

#status {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 10px;
}

.item {
  background: #222;
  margin: 8px auto;
  padding: 12px;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}

.rank {
  color: orange;
  font-weight: bold;
}

/* Ai vượt top sẽ sáng */
.topper {
  background: #2a2a00;
  border: 1px solid gold;
}
